extends layout

-var {{student.scholarship_type}}
block content
  body.h100
    div(id='app')
      .container-fluid
        .row
          // Main Sidebar
          aside.main-sidebar.col-12.col-md-3.col-lg-2.px-0
            .main-navbar
              nav.navbar.align-items-stretch.navbar-light.bg-white.flex-md-nowrap.border-bottom.p-0
                a.navbar-brand.w-100.mr-0(href='/', style='line-height: 25px;')
                  .d-table.m-auto
                    img#main-logo.d-inline-block.align-top.mr-1(style='max-height: 25px;', src='/images/simba-logo.png', alt='Shards Dashboard')
            .nav-wrapper
                ul.nav.flex-column
                  li.nav-item
                    a.nav-link(href='' v-on:click="indexUrl()")
                      i.material-icons home
                      span Inicio
                  li.nav-item(v-if="role!='Student'")
                    a.nav-link(href="" v-on:click="chargeUrl()")
                      i.material-icons center_focus_strong
                      span Cobrar beca
                  li.nav-item(href='' v-on:click="studentsUrl()")
                    a.nav-link.active(href='' v-on:click="studentsUrl()")
                      i.material-icons school
                      span Alumnos
                  li.nav-item(v-if="role=='Administrativo'")
                    a.nav-link(href='' v-on:click="informUrl()")
                      i.material-icons book
                      span Corte
                  li.nav-item(v-if="role=='Administrativo'")
                    a.nav-link(href='' v-on:click="scholarshipsUrl()")
                      i.material-icons bookmark
                      span Becas
                  li.nav-item(v-if="role=='Administrativo'")
                    a.nav-link(href='' v-on:click="usersUrl()")
                      i.material-icons account_box
                      span Usuarios
          // End Main Sidebar
          
          main.main-content.col-lg-10.col-md-9.col-sm-12.p-0.offset-lg-2.offset-md-3
            .main-navbar.sticky-top.bg-white
              // Main Navbar
              nav.navbar.align-items-stretch.navbar-light.flex-md-nowrap.p-0
                form.main-navbar__search.w-100.d-none.d-md-flex.d-lg-flex(action='#')
                ul.navbar-nav.border-left.flex-row
                  li.nav-item.dropdown
                    a.nav-link.dropdown-toggle.text-nowrap.px-3(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false')
                      img.user-avatar.rounded-circle.mr-2(src='images/avatars/0.jpg', alt='User Avatar')
                      span.d-none.d-md-inline-block {{name}}
                    .dropdown-menu.dropdown-menu-small
                      a.dropdown-item.text-danger(href="#",v-on:click="logout()")
                        i.material-icons.text-danger 
                        |  Cerrar sesión
                nav.nav
                  a.nav-link.nav-link-icon.toggle-sidebar.d-md-inline.d-lg-none.text-center.border-left(href='#', data-toggle='collapse', data-target='.header-navbar', aria-expanded='false', aria-controls='header-navbar')
                    i.material-icons 
                    
            // Content
            // / .main-navbar
            .main-content-container.container-fluid.px-4(v-if="role!='Student'")
              // Page Header
              .page-header.row.no-gutters.py-4
                .col-12.col-sm-4.text-center.text-sm-left.mb-0
                  span.text-uppercase.page-subtitle CATÁLOGO
                  h3.page-title Alumnos beneficiarios
                button.mb-2.btn.btn-primary.mr-2.ml-auto(v-if="role=='Administrativo'" type='button', data-toggle="modal", data-target="#modal_agregar") Agregar alumno
              // End Page Header
              // Default Light Table
              .row
                .col
                  .card.card-small.mb-4
                    .card-body.p-0.pb-3.text-center
                      table.table.mb-0
                        thead.bg-light
                          tr
                            th.border-0(scope='col') Matricula
                            th.border-0(scope='col') Nombre completo
                            th.border-0(scope='col') Beca asignada
                            th.border-0(scope='col') Días restantes
                            th.border-0(scope='col') Carrera
                            th.border-0(scope='col', v-if="role=='Administrativo'") Acciones
                        tbody
                          tr(data-id=index, id="row"+index,v-for='student in students')
                            td {{student.enrollment}}
                            td {{student.first_name}} {{student.last_name}}
                            td
                              a.card-post__category.badge.badge.badge-success(href='#') {{student.scholarship_type}}
                            td {{student.credits}}
                            td
                              | {{student.academic}}
                            td
                              .blog-comments__actions
                                .btn-group.btn-group-sm
                                  button.btn.btn-white(type='button', data-toggle="modal", data-target="#modal_editar", @click="getStudent(student._id)")
                                    span.text-accent
                                      i.material-icons edit
                                    |  Editar
                                  button.btn.btn-white(type='button', data-toggle="modal", data-target="#modal_eliminar",@click="getId(student._id)")
                                    span.text-danger
                                      i.material-icons clear
                                    |  Borrar              
            // / .main-navbar
            .main-content-container.container-fluid.px-4(v-if="role=='Student'")
              // Page Header
              .page-header.row.no-gutters.py-4
                .col-12.col-sm-4.text-center.text-sm-left.mb-0
                  span.text-uppercase.page-subtitle CATÁLOGO
                  h3.page-title Tu información 
              // End Page Header
              // Default Light Table
              .row
                .col
                  .card.card-small.mb-4
                    .card-body.p-0.pb-3.text-center
                      table.table.mb-0
                        thead.bg-light
                          tr
                            th.border-0(scope='col') Matricula
                            th.border-0(scope='col') Nombre completo
                            th.border-0(scope='col') Beca asignada
                            th.border-0(scope='col') Días restantes
                            th.border-0(scope='col') Carrera
                        tbody                
                          tr(data-id=index, id="row"+index,v-for='student in students', v-if="id==student._id")
                            td {{student.enrollment}}
                            td {{student.first_name}} {{student.last_name}}
                            td
                              a.card-post__category.badge.badge.badge-success(href='#') {{student.scholarship_type}}
                            td {{student.credits}}
                            td
                              | {{student.academic}}            


            // Footer
            footer.main-footer.d-flex.p-2.px-3.bg-white.border-top
              span.copyright.ml-auto.my-auto.mr-2 2019 © Todos los derechos reservados. Powered by 
                a(href='https://uach.mx', rel='nofollow', target="_blank") Universidad Autónoma de Chihuahua.

      #modal_agregar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              h4#myModalLabel.modal-title Agregar alumno
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            .modal-body
                label(for='nombres')  Nombre(s)
                input.form-control.mb-3(id="first_name" type='text', name='nombres', value='', placeholder='Nombre(s)')
                label(for='primer_apellido')  Primer apellido
                input.form-control.mb-3(id="last_name" type='text', name='primer_apellido', value='', placeholder='Primer apellido')
                label(for='segundo_apellido') Segundo apellido
                input.form-control.mb-3(id="last_name2" type='text', name='segundo_apellido', value='', placeholder='Segundo apellido')
                label(for='matricula') Matrícula
                input.form-control.mb-3(id="enrollment" type='text', name='matricula', value='', placeholder='Matrícula')
                label(for='tipo_usuario') Carrera
                select.form-control.mb-3(id="academic" type='text', name='tipo_usuario', value='', placeholder='Carrera')
                  option(selected value='Ing. Aeroespacial') Ing. Aeroespacial
                  option(value='Ing. Ciencias de la Computación') Ing. Ciencias de la Computación
                  option(value='Ing. Civil') Ing. Civil
                  option(value='Ing. Física') Ing. Física
                  option(value='Ing. Geológica') Ing. Geológica
                  option(value='Ing. Matemática') Ing. Matemática
                  option(value='Ing. de Minas y Metalurgia') Ing. de Minas y Metalurgia
                  option(value='Ing. Sistemas Computacionales en Hardware') Ing. Sistemas Computacionales en Hardware
                  option(value='Ing. Sistemas Topográficos') Ing. Sistemas Topográficos
                  option(value='Ing. de Minas y Metalurgia') Ing. de Minas y Metalurgia
                  option(value='Ing. de Software') Ing. de Software
                  option(value='Ing. Tecnología de Procesos') Ing. Tecnología de Procesos
                label(for='beca_asignada') Beca asignada
                select.form-control.mb-3(id="scholarship_type",v-model="scholarshipTitle" type='text', name='beca_asignada', value='', placeholder='Beca asignada')
                  option(v-for="scholarship in scholarships") {{scholarship.title}}
            .modal-footer
              button#cancelar.btn.btn-white(type='button', data-dismiss='modal', aria-hidden='true') Cancelar
              button#guardar.btn.btn-primary(type='button', @click="addStudent") Agregar alumno
              
      #modal_editar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              h4#myModalLabel.modal-title Editar alumno
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            .modal-body
              label(for='nombres')  Nombre(s)
              input.form-control.mb-3(id="edNombre" type='text', name='nombres', value='', placeholder='Nombre(s)')
              label(for='primer_apellido')  Primer apellido
              input.form-control.mb-3(id="edApellido" type='text', name='primer_apellido', value='', placeholder='Primer apellido')
              label(for='segundo_apellido') Segundo apellido
              input.form-control.mb-3(id="edApellido2" type='text', name='segundo_apellido', value='', placeholder='Segundo apellido')
              label(for='matricula') Matrícula
              input.form-control.mb-3(id="edMatricula" type='text', name='matricula', value='', placeholder='Matrícula')
              label(for='tipo_usuario') Carrera
              select.form-control.mb-3(id="edCarrera" type='text', name='tipo_usuario', value='', placeholder='Carrera')
                option(selected value='Ing. Aeroespacial') Ing. Aeroespacial
                option(value='Ing. Ciencias de la Computación') Ing. Ciencias de la Computación
                option(value='Ing. Civil') Ing. Civil
                option(value='Ing. Física') Ing. Física
                option(value='Ing. Geológica') Ing. Geológica
                option(value='Ing. Matemática') Ing. Matemática
                option(value='Ing. de Minas y Metalurgia') Ing. de Minas y Metalurgia
                option(value='Ing. Sistemas Computacionales en Hardware') Ing. Sistemas Computacionales en Hardware
                option(value='Ing. Sistemas Topográficos') Ing. Sistemas Topográficos
                option(value='Ing. de Minas y Metalurgia') Ing. de Minas y Metalurgia
                option(value='Ing. de Software') Ing. de Software
                option(value='Ing. Tecnología de Procesos') Ing. Tecnología de Procesos
              label(for='beca_asignada') Beca asignada
              select.form-control.mb-3(id="edScholarship_type",v-model="edScholarshipTitle" type='text', name='beca_asignada', value='', placeholder='Beca asignada')
                option(v-for="scholarship in scholarships") {{scholarship.title}}
            .modal-footer
              button#cancelar.btn.btn-white(type='button', data-dismiss='modal', aria-hidden='true') Cancelar
              button#guardar.btn.btn-primary(type='button',@click="updateStudent()") Editar alumno

      #modal_eliminar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              h4#myModalLabel.modal-title Eliminar alumno
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            .modal-body
              label(for='nombres') ¿Estás seguro de eliminar al alumno? Esta acción no se puede deshacer.
            .modal-footer
              button#cancelar.btn.btn-white(type='button', data-dismiss='modal', aria-hidden='true') Cancelar
              button#guardar.btn.btn-danger(type='button', @click="deleteStudent()") Eliminar alumno
                      
  script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js')
  //- script(src='https://unpkg.com/shards-ui@latest/dist/js/shards.min.js')
  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js')
  //- script(src='/scripts/extras.1.1.0.min.js')
  //- script(src='/scripts/shards-dashboards.1.1.0.min.js')
  //- script(src='/scripts/app/app-blog-overview.1.1.0.js')
