extends layout

block content
  body.h100
    div(id='app')
      .container-fluid
        .row
          // Main Sidebar
          aside.main-sidebar.col-12.col-md-3.col-lg-2.px-0
            .main-navbar
              nav.navbar.align-items-stretch.navbar-light.bg-white.flex-md-nowrap.border-bottom.p-0
                a.navbar-brand.w-100.mr-0(href='', v-on:click="indexUrl()" style='line-height: 25px;')
                  .d-table.m-auto
                    img#main-logo.d-inline-block.align-top.mr-1(style='max-height: 25px;', src='/images/simba-logo.png', alt='Shards Dashboard')
            .nav-wrapper
              ul.nav.flex-column
                li.nav-item
                   a.nav-link(href='' v-on:click="indexUrl()")
                    i.material-icons home
                    span Inicio
                li.nav-item
                   a.nav-link(href="" v-on:click="chargeUrl()")
                    i.material-icons center_focus_strong
                    span Cobrar beca
                li.nav-item
                  a.nav-link(href='' v-on:click="studentsUrl()")
                    i.material-icons school
                    span Alumnos
                li.nav-item
                  a.nav-link(href='' v-on:click="informUrl()")
                    i.material-icons book
                    span Corte
                li.nav-item
                  a.nav-link.active(href='' v-on:click="scholarshipsUrl()")
                    i.material-icons bookmark
                    span Becas
                li.nav-item
                  a.nav-link(href='' v-on:click="usersUrl()")
                    i.material-icons account_box
                    span Usuarios
          // End Main Sidebar
          
          main.main-content.col-lg-10.col-md-9.col-sm-12.p-0.offset-lg-2.offset-md-3
            .main-navbar.sticky-top.bg-white
              // Main Navbar
              nav.navbar.align-items-stretch.navbar-light.flex-md-nowrap.p-0
                form.main-navbar__search.w-100.d-none.d-md-flex.d-lg-flex(action='#')
                ul.navbar-nav.border-left.flex-row
                  li.nav-item.dropdown
                    a.nav-link.dropdown-toggle.text-nowrap.px-3(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false')
                      img.user-avatar.rounded-circle.mr-2(src='images/avatars/0.jpg', alt='User Avatar')
                      span.d-none.d-md-inline-block {{name}}
                    .dropdown-menu.dropdown-menu-small
                      a.dropdown-item.text-danger( v-on:click="logout()")
                        i.material-icons.text-danger 
                        |  Cerrar sesión
                nav.nav
                  a.nav-link.nav-link-icon.toggle-sidebar.d-md-inline.d-lg-none.text-center.border-left(href='#', data-toggle='collapse', data-target='.header-navbar', aria-expanded='false', aria-controls='header-navbar')
                    i.material-icons 
                    
            // Content
            // / .main-navbar
            .main-content-container.container-fluid.px-4
              // Page Header
              .page-header.row.no-gutters.py-4
                .col-12.col-sm-4.text-center.text-sm-left.mb-0
                  span.text-uppercase.page-subtitle CATÁLOGO
                  h3.page-title Becas alimenticias
                button.mb-2.btn.btn-primary.mr-2.ml-auto(type='button', data-toggle="modal", data-target="#modal_agregar") Agregar beca
              // End Page Header
              // Default Light Table
              .row
                .col
                  .card.card-small.mb-4
                    .card-body.p-0.pb-3.text-center
                      table.table.mb-0
                        thead.bg-light
                          tr
                            th.border-0(scope='col') Clave de beca
                            th.border-0(scope='col') Nombre de la beca
                            th.border-0(scope='col') Descripción
                            th.border-0(scope='col') Días predeterminados
                            th.border-0(scope='col') Acciones
                        tbody
                          tr(data-id=index, id="row"+index,v-for='scholarship in scholarships')
                            td {{scholarship.key}}
                            td {{scholarship.title}}
                            td.text-left {{scholarship.description}}
                            td {{scholarship.credits}}
                            td
                              .blog-comments__actions
                                .btn-group.btn-group-sm
                                  button.btn.btn-white(@click="getScholarship(scholarship._id)",type='button', data-toggle="modal", data-target="#modal_editar")
                                    span.text-accent
                                      i.material-icons edit
                                    |  Editar
                                  button.btn.btn-white( @click="getScholarshipId(scholarship._id)",type='button', data-toggle="modal", data-target="#modal_eliminar")
                                    span.text-danger
                                      i.material-icons clear
                                    |  Borrar
                         
                            
        
            // Footer
            footer.main-footer.d-flex.p-2.px-3.bg-white.border-top
              span.copyright.ml-auto.my-auto.mr-2 2019 © Todos los derechos reservados. Powered by 
                a(href='https://uach.mx', rel='nofollow', target="_blank") Universidad Autónoma de Chihuahua.
                
      #modal_agregar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              h4#myModalLabel.modal-title Agregar beca
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            .modal-body
              label(for='clave_beca')  Clave de beca
              input.form-control.mb-3(id='key',type='text', name='clave_beca', value='', placeholder='Clave de beca')
              label(for='nombre_beca')  Nombre de la beca
              input.form-control.mb-3(id='title',type='text', name='nombre_beca', value='', placeholder='Nombre de la beca')
              label(for='descripción') Descripción
              textarea.form-control.mb-3(id='description',type='text', name='descripción', value='', placeholder='Descripción')
              label(for='dias_predeterminados') Dias predeterminados
              select.form-control.mb-3(id='credits',type='text', name='dias_predeterminados', value='', placeholder='Dias predeterminados')
                option(selected value='1') 1
                option(value='2') 2
                option(value='3') 3
                option(value='4') 4
                option(value='5') 5
            .modal-footer
              button#cancelar.btn.btn-white(type='button', data-dismiss='modal', aria-hidden='true') Cancelar
              button#guardar.btn.btn-primary(@click="addScholarship()",type='button') Agregar beca
              
      #modal_editar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              h4#myModalLabel.modal-title Editar beca
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            .modal-body
              label(for='clave_beca')  Clave de beca
              input.form-control.mb-3(id='edKey',type='text', name='clave_beca', value='', placeholder='Clave de beca')
              label(for='nombre_beca')  Nombre de la beca
              input.form-control.mb-3(id='edTitle',type='text', name='nombre_beca', value='', placeholder='Nombre de la beca')
              label(for='descripción') Descripción
              textarea.form-control.mb-3(id='edDescription',type='text', name='descripción', value='', placeholder='Descripción')
              label(for='dias_predeterminados') Dias predeterminados
              select.form-control.mb-3(id='edCredits',type='text', name='dias_predeterminados', value='', placeholder='Dias predeterminados')
                option(selected value='1') 1
                option(value='2') 2
                option(value='3') 3
                option(value='4') 4
                option(value='5') 5
            .modal-footer
              button#cancelar.btn.btn-white(type='button', data-dismiss='modal', aria-hidden='true') Cancelar
              button#guardar.btn.btn-primary(type='button',@click="updateScholarship()") Editar beca

      #modal_eliminar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              h4#myModalLabel.modal-title Eliminar usuario
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            .modal-body
              label(for='nombres') ¿Estás seguro de eliminar la beca? Esta acción no se puede deshacer.
            .modal-footer
              button#cancelar.btn.btn-white(type='button', data-dismiss='modal', aria-hidden='true') Cancelar
              button#guardar.btn.btn-danger(type='button',@click="deleteScholarship()") Eliminar beca

    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js')
    //- script(src='https://unpkg.com/shards-ui@latest/dist/js/shards.min.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js')
    //- script(src='/scripts/extras.1.1.0.min.js')
    //- script(src='/scripts/shards-dashboards.1.1.0.min.js')
    //- script(src='/scripts/app/app-blog-overview.1.1.0.js')
