extends layout

block content
  body.h100
    div(id='app')
      .container-fluid
        .row
          // Main Sidebar
          aside.main-sidebar.col-12.col-md-3.col-lg-2.px-0
            .main-navbar
              nav.navbar.align-items-stretch.navbar-light.bg-white.flex-md-nowrap.border-bottom.p-0
                a.navbar-brand.w-100.mr-0(href='', v-on:click="indexUrl()" style='line-height: 25px;')
                  .d-table.m-auto
                    img#main-logo.d-inline-block.align-top.mr-1(style='max-height: 25px;', src='/images/simba-logo.png', alt='Shards Dashboard')
            .nav-wrapper
              ul.nav.flex-column
                li.nav-item
                  a.nav-link(href='' v-on:click="indexUrl()")
                    i.material-icons home
                    span Inicio
                li.nav-item
                  a.nav-link.active(href="" v-on:click="chargeUrl()")
                    i.material-icons center_focus_strong
                    span Cobrar beca
                li.nav-item
                  a.nav-link(href='' v-on:click="studentsUrl()")
                    i.material-icons school
                    span Alumnos
                li.nav-item
                  a.nav-link(href='' v-on:click="informUrl()")
                    i.material-icons book
                    span Corte
                li.nav-item
                  a.nav-link(href='' v-on:click="scholarshipsUrl()")
                    i.material-icons bookmark
                    span Becas
                li.nav-item
                  a.nav-link(href='' v-on:click="usersUrl()")
                    i.material-icons account_box
                    span Usuarios
          // End Main Sidebar
          
          main.main-content.col-lg-10.col-md-9.col-sm-12.p-0.offset-lg-2.offset-md-3
            .main-navbar.sticky-top.bg-white
              // Main Navbar
              nav.navbar.align-items-stretch.navbar-light.flex-md-nowrap.p-0
                form.main-navbar__search.w-100.d-none.d-md-flex.d-lg-flex(action='#')
                ul.navbar-nav.border-left.flex-row
                  li.nav-item.dropdown
                    a.nav-link.dropdown-toggle.text-nowrap.px-3(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false')
                      img.user-avatar.rounded-circle.mr-2(src='images/avatars/0.jpg', alt='User Avatar')
                      span.d-none.d-md-inline-block {{name}}
                    .dropdown-menu.dropdown-menu-small
                      a.dropdown-item.text-danger( v-on:click="logout()")
                        i.material-icons.text-danger 
                        |  Cerrar sesión
                nav.nav
                  a.nav-link.nav-link-icon.toggle-sidebar.d-md-inline.d-lg-none.text-center.border-left(href='#', data-toggle='collapse', data-target='.header-navbar', aria-expanded='false', aria-controls='header-navbar')
                    i.material-icons 
                    
            // Content
            // / .main-navbar
            .main-content-container.container-fluid.px-4
              // Page Header
              .page-header.row.no-gutters.py-4
                .col-12.col-sm-4.text-center.text-sm-left.mb-0
                  span.text-uppercase.page-subtitle CAFETERÍA
                  h3.page-title Cobro de becas alimenticias
              // End Page Header
              // Default Light Table
              .row
                .col
                  .card.card-small.mb-4
                    .card-header.border-bottom
                      h6.m-0 Buscar matrícula
                    ul.list-group.list-group-flush
                      li.list-group-item.px-3
                        .mb-2
                          label(for='feFirstName') Matrícula
                          .input-group.mb-3
                            input.form-control(id='enrollment',v-model="enrollment",type='text', placeholder="Busca la matrícula del alumno aquí…", aria-label="Busca la matrícula del alumno aquí…", aria-describedby='basic-addon2')
                            .input-group-append
                              button.btn.btn-accent(:disabled="!enrollment",@click="getStudentByEnrollment()",type='button', data-toggle="modal", data-target="#modal_agregar") Buscar
                      li.list-group-item.px-3
                        .mb-2
                          .card-post__image(style="background-image: url('images/image_cobro.png');")


        
            // Footer
            footer.main-footer.d-flex.p-2.px-3.bg-white.border-top
              span.copyright.ml-auto.my-auto.mr-2 2019 © Todos los derechos reservados. Powered by 
                a(href='https://uach.mx', rel='nofollow', target="_blank") Universidad Autónoma de Chihuahua.

      #modal_agregar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              h4#myModalLabel.modal-title Cobrar beca
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            .modal-body
              strong.text-muted.d-block.mb-1 Nombre completo
              input.form-control.mb-3(id="first_name",readonly)
              strong.text-muted.d-block.mb-1 Matrícula
              input.form-control.mb-3(id="enroll",readonly)
              strong.text-muted.d-block.mb-1 Carrera
              input.form-control.mb-3(id="academic",readonly)
              strong.text-muted.d-block.mb-1 Días restantes
              input.form-control.mb-3(id="days",readonly)
            .modal-footer
              button#cancelar.btn.btn-white(type='button', data-dismiss='modal', aria-hidden='true') Cancelar
              button#guardar.btn.btn-primary(type='button', @click="addInform()") Cobrar beca
                        
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js')
    //- script(src='https://unpkg.com/shards-ui@latest/dist/js/shards.min.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js')
    //- script(src='/scripts/extras.1.1.0.min.js')
    //- script(src='/scripts/shards-dashboards.1.1.0.min.js')
    //- script(src='/scripts/app/app-blog-overview.1.1.0.js')
