doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='description', content='A high-quality & free Bootstrap admin dashboard template pack that comes with lots of templates and components.')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='https://use.fontawesome.com/releases/v5.0.6/css/all.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    link#main-stylesheet(rel='stylesheet', data-version='1.1.0', href='/stylesheets/shards-dashboards.1.1.0.min.css')
    link(rel='stylesheet', href='/stylesheets/extras.1.1.0.min.css')
    script(async='', defer='', src='https://buttons.github.io/buttons.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/js/vue.js')
    script(src='/js/vue-router.js')
    //- script(src='/js/router.js')
    script(src='/js/main.js')
