extends layout

block content
  body.h100
    div(id='app')
      .container-fluid.container-login
        .container-signup
          .div_background
            .container.hwsi-container
              .row.rowsi-container
                .col-12.col-md-6
                  .card.card-signin.my-5.my5si-container
                    .card-body
                      h5.card-title.text-center Iniciar Sesión
                      form.form-signin
                        label(for='Correo electronico')  Correo electronico
                        input.form-control.mb-3(id="email" type='text', name='email', value='', placeholder='Correo electronico')
                        label(for='Contraseña')  Contraseña
                        input.form-control.mb-3(id="password" type='password', name='password', value='', placeholder='Contraseña')
                      button.btn.btn-lg.btn-primary.btn-block.text-uppercase(type='button',@click="login()") Iniciar Sesión
        
        
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
          
          
